@import '~bootstrap/scss/bootstrap';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-little {
    background-color: rgb(2, 130, 249);
    height: 30px;

}

.little-text {
    display: flex;
    justify-content: end;
    margin-right: 200px;
    color: white;
}

.little-text p {
    margin-left: 50px;
}

.my_navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    margin: 20px 0px;
}

.my_nav-logo img {
    height: 70px;
}


.list {
    display: flex;
    list-style: none;

}

.item {
    padding: 43px 10px;

}

li:hover {
    color: rgb(2, 130, 249);
    border-bottom: 5px solid rgb(2, 130, 249);
    cursor: pointer;
}

.list li {
    margin-left: 30px;
}

.search {
    border-bottom: 3px solid rgb(2, 130, 249);
    height: 28px;
    margin-bottom: 15px;
    width: 150px;
}

.search p {
    text-align: end;
}

.content {
    height: 100px;
    background-color: rgb(28, 28, 28);
    display: flex;
    align-items: center;


    h1 {
        color: #fff;
        width: 70%;
        margin: auto;

    }
}




.container-footer {
    background-image: url(./assets/footer-bg.jpg);
    background-repeat: repeat;
    z-index: 998;


    .container-text {
        width: 70%;
        margin: auto;
        display: flex;
    }


    .text {
        color: #fff;
        padding-top: 40px;
        margin-bottom: 10px;
        font-size: 13px;

    }

    .mini-text p {
        color: rgb(136, 149, 149);
        padding: 5px 0px;

    }

    .mini-text p:hover {
        color: rgb(2, 130, 249);
        cursor: pointer;

    }

    .container2 {
        margin-left: 50px;
    }

    .container3 {
        margin-left: 50px;
    }

    .bg-logo {
        position: relative;
    }

    .bg-logo img {
        height: 500px;
        position: absolute;
        top: -45px;
        left: 50px;

    }
}

.my_color2 {
    background-color: rgb(2, 130, 249);
    height: 150px;

}

.my_font {
    font-size: 10px
}


.container-bottom {
    height: 100px;
    z-index: 999;
    display: flex;
    align-items: center;
    background-color: rgb(28, 28, 28);
    position: relative;




    .text-footer {
        width: 70%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;



    }

    .text-footer button {
        padding: 10px;
        border: 3px solid rgb(2, 130, 249);
        background-color: rgb(28, 28, 28);
        color: #fff;

    }

    .follow {
        display: flex;
        padding-left: 20px;

    }

    .follow img {
        margin-left: 10px;

    }


    .follow h1 {
        color: rgb(2, 130, 249);
        margin-right: 20px;

    }
}


.container-upper {
    background-color: rgb(28, 28, 28);




    img {
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
}

.my_color {
    background-color: rgb(28, 28, 28);


}